# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Documentation
README.md
LICENSE

# Logs
*.log

# OS
.DS_Store
Thumbs.db
